@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+JP:wght@100;200 & display=swap');

.push1{
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #333;
    padding: 18px 30px;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
    text-decoration:none;
}

.push1:hover {
    transform: scale(1.1);
  }
